<br>
<div class="container">
  <mat-card>
    <table class="table table-hover table-bordered table-striped table-responsive">
      <thead>
        <th>
          S.No.
        </th>
        <th>
          Name
        </th>
      </thead>
      <tbody>
        <tr *ngFor='let i of data|slice: lowValue :highValue'>
          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
        </tr>
      </tbody>
    </table>
    <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>-->
     <h4>Basic native select</h4>
     <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
      <mat-option value="option">Option</mat-option><mat-option value="option">Option</mat-option><mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-paginator [length]="length"
              [pageSize]="5"
             
              (page)="pageEvent = getData($event)"
              (change)="setChange($event)">
</mat-paginator>
  </mat-card>
  
  
 
</div>